body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  background-size:cover cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
  background-color:#EEE;
}

.container {
  width:90%;
  max-width:768px;
  position:absolute;
  top:60px;
  left:0;
  right:0;
  margin:auto;
}

.jumbo {
  font-size:64px;
  font-family:'Open Sans', Arial;
  text-align:center;
  color:#FFF;
  text-shadow:2px 1px 3px #111
}

.search_form {
  width:100%;
  margin:0 auto 20px;
  padding:10px 0;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  font-family:'Roboto Condensed', Arial;
}
#search_wrapper,
.dropdown_title {
  border-radius:4px;
  box-shadow: 0 2px 2px -1px #111;
}
.search_input,
.search_button {
  height:100%;
  margin:0 -2px;
  -webkit-appearance:none;
  appearance:none;
  border:0;
  border-radius:0;
}
.search_input {
  width:300px;
  padding:10px 16px;
  background:white;
  border-radius:4px 0 0 4px;
  font-family:'Roboto Condensed', Arial;
}
.search_button {
  position:relative;
  top:.5px;
  padding:10px 16px;
  width:74px;
  background:#DA463E;
  border-radius:0 4px 4px 0;
  color:#EEE
}
.dropdown {
  position:relative;
  top:.5px;
  left:10px;
}
.dropdown_title {
  padding:10px 16px;
  border-radius:4px;
  color:#EEE;
  background:#DA463E
}
.dropdown_title.triggered .fa {
  position:relative;
  top:4px;
  transform:rotate(180deg);
  transform-origin:center;
}
.dropdown_list {
  height:0;
  width:100%;
  display:none;
  position:absolute;
  margin:0;
  padding:0;
  background:#FFF;
  z-index:100;
}
.dropdown_list.triggered {
  height:auto;
  display:block;
}
.dropdown_list__item {
  padding:8px 10px;
  list-style-type:none;
  cursor:pointer;
}
.dropdown_list__item:hover {
  background:#EEE
}

.table {
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
  flex-wrap:wrap;
  font-family:'Roboto Condensed', Arial;
}
.t_head {
  height:48px;
  padding:1px 20px !important;
  box-shadow: 0 3px 2px -2px #111;
  background:#DA463E !important;
  color:white;
  font-weight:bold;
  text-shadow:0px 2px 1px #333
}
.t_icon {
  width:100%;
  display:flex;
  justify-content:flex-start;
  align-items:center;
}
.t_icon .fa {
  margin:12px 6px 0 0;
  font-size:1.5em;
}
.t_icon__title {
  margin:14px 0 0 6px
}

.t_col {
  width:300px;
  margin:20px;
  background:white;
  box-shadow: 0 2px 2px -2px #111;
}
.t_col .list {
  margin:0;
  padding:0;
}
.t_col .list .list_item {
  position:relative;
  padding:16px 20px;
  list-style-type:none
}
.t_col .list .list_item span {
  position:relative;
  padding:0 2px;
}
.t_col .list .list_item span::before {
  content:"";
  height:1px;
  width:0;
  position:absolute;
  bottom:0;
  left:0;
  margin:0;
  background:#111;
  transition:.2s;
}
.t_col .list .list_item:hover span::before {
  width:100%;
}
.list a:nth-child(even) .list_item {
  background:#F4F4F4;
}

a {
  width:100%;
  position:relative;
  text-decoration:none;
  color:#111
}
